<?xml version='1.0' encoding='utf-8'?>
<plugin id="test-tangoplugin-plugin-objc" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TangoPlugin</name>
    <js-module name="TangoPlugin" src="www/TangoPlugin.js">
        <clobbers target="tangoplugin" />
    </js-module>
    
    <dependency id="cordova-plugin-cocoapod-support"/>

 	<platform name="ios">
  	<config-file target="config.xml" parent="/*">
    <feature name="TangoPlugin">
      <param name="ios-package" value="TangoPlugin" />
    </feature>
  </config-file>
    <pods-config ios-min-version="9.0" use-frameworks="true">
    </pods-config>
        <pod name="Tango" path="/Users/raul/Documents/TangoFrameworks/Tango/"/>
 	<source-file src="src/ios/AppDelegate+Tango.m" />
    <source-file src="src/ios/TangoPlugin.m" />
    <header-file src="src/ios/AppDelegate+Tango.h" />
    <header-file src="src/ios/TangoPlugin.h" />
</platform>
</plugin>
